<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Efficio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/inter/index.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/lexend/index.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/lexend-deca/index.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="m-0 h-full">
    <p style="color: green"><%= notice %></p>
    <p style="color: red"><%= alert %></p>
    <main class="h-full">
      <%= yield %>
    </main>
  </body>
</html>
